<%= simple_form_for(@ocean_inspect) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :date, label: '巡查日期' %>
    <%= f.input :s_time, label: '出航時間' %>
    <%= f.input :e_time, label: '返航時間' %>
    <%= f.input :boat_id, collection: Boat.all, label: '使用船隻', input_html: { class: "custom-select" }%>
    <%= f.input :captain, collection: Staff.where("role ='船公司'"), label: '船長', input_html: { class: "custom-select" }%>
    <%= f.input :leader, collection: Staff.where("role ='國家公園'"), label: '領隊', input_html: { class: "custom-select" }%>
    <%= f.input :crew, as: :check_boxes, collection: Staff.all, label: '搭載人員',value_method: :name, label_html: { class: "form-check" }%>
    <%= f.input :location, as: :check_boxes, collection: Useful.where("catalog ='巡查海域'"), value_method: :name, label: '巡查海域',label_html: { class: "form-check" } %>
    <%= f.input :distance, label: '航行海浬'%>
    <%= f.input :gas ,label: '添加汽油(公升)'%>
    <%= f.input :oil, label: '添加機油(公升)' %>
    <%= f.input :work_items, as: :check_boxes, collection: Useful.where("catalog ='工作項目'"), label: '工作項目',value_method: :name, label_html: { class: "form-check" }  %>
    <%= f.input :diary  ,label: '巡查記事'%>
    <%= f.input :note ,label: '備註事項'%>
    <%= f.input :pics, label:'附加圖片' ,label_html: { class: "custom-file"} do %>
      <%= f.file_field :pics, multiple: true ,class: "form-control-file"%>
      <%= f.hidden_field :pics_cache %>
    <% end %>
    <%= image_tag(@ocean_inspect.pics.first.url) if @ocean_inspect.pics? %>
  </div>
  <hr>
  <div class="form-actions">
    <%= f.button :submit,  "新建表單", class: "btn btn-primary" %>
  </div>
<% end %>

</div>


<script>
  // The date picker (read the docs)
  $('#ocean_inspect_date').pickadate({format: 'yyyy-mm-dd',
formatSubmit: false})
  $('#ocean_inspect_s_time').pickatime({format: 'HH:i',formatSubmit: false})
  $('#ocean_inspect_e_time').pickatime({format: 'HH:i',formatSubmit: false})
</script>
