<p></p>
<h2 class="Display-4 text-center p-x-1">編輯海域巡查紀錄</h2>
<hr>
<%= simple_form_for(@ocean_inspect) do |f| %>
  <% if f.error_notification != nil %>
    <%= f.error_notification %>
  <% end %>
  <div class="form-inputs col-xl-12 p-x-0">
    <div class="col-xl-5 p-x-0">
      <div id="time" class="col-xl-12 p-x-0">
        <%= f.input :date, label: '巡查日期',wrapper_html:{ class: 'col-xl-6 col-lg-3'} %>
        <%= f.input :s_time, label: '出航時間' , wrapper_html:{ class: 'col-xl-3 col-lg-2'} %>
        <%= f.input :e_time, label: '返航時間' , wrapper_html:{ class: 'col-xl-3 col-lg-2'}%>
      </div>
      <div id="boat" class="col-xl-12 p-x-0">
        <%= f.input :boat_id, collection: Boat.all, label: '使用船隻', input_html: { class: "custom-select"} ,wrapper_html:{ class: 'col-xl-6 col-lg-3'}%>
        <%= f.input :captain, collection: Staff.where("role ='船公司'"), label: '船長', input_html: { class: "custom-select" }, wrapper_html:{ class: 'col-xl-6 col-lg-2'}%>
        <%= f.input :distance, label: '航行海浬' ,wrapper_html:{ class: 'col-xl-3 col-lg-3'}%>
        <%= f.input :gas_consumption ,label: '汽油消耗(L)',wrapper_html:{ class: 'col-xl-3 col-lg-3'} %>
        <%= f.input :gas ,label: '添加汽油(L)',wrapper_html:{ class: 'col-xl-3 col-lg-3'} %>
        <%= f.input :oil, label: '添加機油(L)', wrapper_html:{ class: 'col-xl-3 col-lg-3'} %>
      </div>
      <div id="work" class="col-xl-12 p-x-0">
        <%= f.input :leader, collection: Staff.where("role ='國家公園'"), label: '領隊', input_html: { class: "custom-select" }, wrapper_html:{ class: 'col-xl-4 col-lg-2'}%>
        <%= f.input :crew, label: '搭載人員 <span class="small"> <不含領隊></span>'.html_safe, wrapper_html:{ class: 'col-xl-8 col-lg-6'}%>
        <%= f.input :location, label: '巡查海域',wrapper_html:{ class: 'col-xl-12 col-lg-4'} %>
        <%= f.input :work_items, label: '工作項目', wrapper_html:{ class: 'col-xl-12 col-lg-12'} %>
      </div>
    </div>
    <div class="col-xl-7 col-lg-12">
      <div id='diaries' class="form-group row p-x-2">
        <p>巡查記事</p>
        <%= f.simple_fields_for :diaries do |diary| %>
          <%= render 'diary_fields', f: diary %>
        <% end %>
        <div class='links p-y-1'>
          <%= link_to_add_association '新增項目', f, :diaries, type: "button", class: "btn btn-sm btn-primary"%>
        </div>
        <hr>
      </div>
      <div id="pic">
        <%= f.input :map, label:'巡查地圖'.html_safe ,label_html: { class: "custom-file"} do %>
          <%= image_tag @ocean_inspect.map, class: "img-thumbnail",style: "width: 150px; height: 150px" if @ocean_inspect.map? %>
          <%= f.file_field :map ,class: "form-control-file btn-sm"%>
          <%= f.hidden_field :map_cache %>
        <% end %>
      </div>
      <hr>
      <div id="pic">
        <%= f.input :pics, label:'巡查照片'.html_safe ,label_html: { class: "custom-file"} do %>
          <%= image_tag @ocean_inspect.pics, class: "img-thumbnail",style: "width: 150px; height: 150px" if @ocean_inspect.pics? %>
          <%= f.file_field :pics, class: "form-control-file btn-sm"%>
          <%= f.hidden_field :pics_cache %>
        <% end %>
      </div>
      <div class="">
        <%= f.input :note ,label: '備註事項', placeholder: "避颱..."%>
      </div>
    </div>
  </div>
  <div class="form-actions col-xs-12">
    <hr>
    <%= f.button :submit,  "修訂表單", class: "btn btn-primary pull-xs-right" , data: { disable_with: "修訂中..." }%>
  </div>
<% end %>




<script>
  // The date picker (read the docs)
  $('#ocean_inspect_date').pickadate({format: 'yyyy-mm-dd',max: true,
formatSubmit: false})
  $('#ocean_inspect_s_time').pickatime({format: 'HH:i',formatSubmit: false})
  $('#ocean_inspect_e_time').pickatime({format: 'HH:i',formatSubmit: false})

</script>
