<div class="page-header">
  <p></p>
  <h2 class="h3">海域巡查紀錄表  <%= link_to("新的海域巡查", new_ocean_inspect_path, class: "btn btn-outline-primary pull-xs-right ") %></h2>
  <hr>
</div>
<table class="table table-hover table-sm">
  <thead class="bg-primary">
    <tr>
      <th>巡查日期</th>
      <th>巡查時間</th>
      <th>領隊</th>
      <th class="hidden-lg-down">工作項目</th>
      <th class="hidden-md-down">航行浬程</th>
      <th class="hidden-md-down">天氣</th>
      <th class="hidden-md-down">浪高(米)</th>
      <th class="hidden-xs-down">船長</th>
      <th class="hidden-xs-down">使用船艇</th>
      <th class="hidden-sm-down">加油(升)</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <% @ocean_inspects.each do |insp| %>
      <% id = insp.year + insp.month + insp.day %>
      <tr>
        <td><%= link_to insp.month.to_s + ' / '  +insp.day.to_s, ocean_inspect_path(insp) %></td>
        <td><%= insp.s_time + ' - ' + insp.e_time %></td>
        <td><%= Staff.find(insp.leader).name %></td>
        <td class="hidden-lg-down"><%= insp.work_items %></td>
        <td class="hidden-md-down"><%= insp.distance %></td>
        <td class="hidden-md-down"><%= WeatherMonthly.find(id).weather %></td>
        <td class="hidden-md-down"><%= WeatherMonthly.find(id).wave %></td>
        <td class="hidden-xs-down"><%= Staff.find(insp.captain).name %></td>
        <td class="hidden-xs-down"><%= Boat.find(insp.boat_id).name %></td>
        <td class="hidden-sm-down"><%= insp.gas %></td>
        <td class="btn-group" role="group">
            <%= link_to("編輯", edit_ocean_inspect_path(insp), class: "btn btn-sm btn-outline-primary")%>
            <%= link_to("刪除", ocean_inspect_path(insp),    class: "btn btn-sm btn-outline-primary",
                        method: :delete, data: { confirm: "確定刪除該筆紀錄?" } )%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
