<% id = @ocean_inspect.year+@ocean_inspect.month+@ocean_inspect.day %>
<p></p>
<div class="col-md-10 offset-md-1 p-a-0">
  <h2 class="text-xs-center">澎湖南方四島國家公園海洋巡護紀錄表</h2>
  <hr>
  <div class="col-lg-6 col-xl-3 p-a-0" id="time">
    <p><span class="font-weight-bold p-a-0">日期： </span> <%= @ocean_inspect.month %> 月 <%= @ocean_inspect.day %> 日  |  星期<%= @ocean_inspect.wday %></p>
    <p><span class="font-weight-bold p-a-0">進出港時間：</span> <%= @ocean_inspect.s_time %> - <%= @ocean_inspect.e_time %></p>
  </div>
  <div class="col-lg-6 col-xl-4 p-a-0" id="tide">
    <% #拆分潮汐
     tide = WeatherMonthly.find(id).tide.gsub!(/[\[\]\"]/, "").split(",")
    %>
    <p class="p-a-0"><span class="font-weight-bold">潮汐時間：</span>&nbsp;&nbsp;<%= tide[0] %>&nbsp; | &nbsp;<%= tide[1] %></p>
    <p class="p-a-0"><span class="font-weight-bold"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span><%= tide[2] %> &nbsp;| &nbsp;<%= tide[3] %></p>
  </div>
  <div class="col-lg-12 col-xl-4 p-a-0" id="weather">
    <div class="section-1 col-lg-6 p-a-0">
      <p><span class="font-weight-bold p-a-0">天氣：</span> <%= WeatherMonthly.find(id).weather %></p>
      <p><span class="font-weight-bold p-a-0">風力：</span> <%= WeatherMonthly.find(id).wdlv %> 級</p>
    </div>
    <div class="section2 col-lg-6 p-a-0">
      <p><span class="font-weight-bold p-a-0">風向：</span> <%= WeatherMonthly.find(id).wdir %> </p>
      <p><span class="font-weight-bold p-a-0">浪高：</span> <%= WeatherMonthly.find(id).wave %> 米</p>
    </div>
  </div>
  <div class="col-lg-12 p-a-0" id="location">
    <hr>
    <p class="font-weight-bold p-a-0">巡查地點：</p>
    <p><%= @ocean_inspect.location %></p>
  </div>
  <div class="col-lg-12 col-xl-4 p-a-0" id="oil">
    <hr>
    <p class="col-lg-6 col-xl-12 p-a-0"><span class="font-weight-bold">航程： </span><%= @ocean_inspect.distance %> 浬 &nbsp;/ &nbsp;<span class="font-weight-bold">油耗：</span> <%= @ocean_inspect.distance.to_f * Boat.find(@ocean_inspect.boat_id).fuelConsumption.to_f %> 公升</p>
    <p class="col-lg-6 col-xl-12 p-a-0"><span class="font-weight-bold">加油： </span><%= @ocean_inspect.gas %> <%= "公升" if !@ocean_inspect.gas.nil? %></p>
  </div>
  <div class="col-lg-12 col-xl-8 p-a-0" id="work">
    <hr>
    <p class="font-weight-bold">執行項目：</p>
    <p><%= @ocean_inspect.work_items %></p>
  </div>
  <div class="col-lg-12 p-a-0" id="diary">
    <hr>
    <p class="font-weight-bold p-a-0">巡查紀事：</p>
      <ol>
        <% @ocean_inspect.diaries.each do |diary|%>
          <li><%= diary.item %></li>
        <% end %>
      </ol>
  </div>
  <div class="col-lg-12 p-a-0" id="pic">
    <hr>
    <p class="font-weight-bold p-a-0">巡查路線</p>
    <%= image_tag @ocean_inspect.map, class: "img-fluid m-x-auto ",style: "max-height: 400px;" %>
    <hr>
    <% if @ocean_inspect.pics? %>
      <p class="font-weight-bold p-a-0">巡查照片</p>
      <%= image_tag @ocean_inspect.pics, class: "img-fluid m-x-auto",style: "max-height: 400px;" %>
      <hr>
    <% end %>
  </div>
  <div class="col-lg-12 p-a-0" id="onboat">
    <p class="font-weight-bold">巡查人員：</p>
    <p><%= Staff.find(@ocean_inspect.leader).name %> 、 <%= @ocean_inspect.crew %></p>
  </div>
  <div class="col-lg-12 p-a-0" id="boat">
    <hr>
    <p class="col-lg-6 p-x-0"><span class="font-weight-bold">船長：</span> <%= Staff.find(@ocean_inspect.captain).name %></p>
    <p class="col-lg-6 p-x-0"><span class="font-weight-bold">使用船艇：</span> <%=  Boat.find(@ocean_inspect.boat_id).name%></p>
  </div>
  <div id="controll" class="col-lg-12 p-a-0 btn-group" role="group">
    <hr>
    <div class="col-md-3">
      <%= link_to("回報表清單", ocean_inspects_path, class: "btn btn-outline-success") %>
    </div>
    <div class="text-xs-right col-md-9" >
      <%= link_to("編輯紀錄表", edit_ocean_inspect_path(params[:id]), class: "btn btn-outline-danger") %>
      <!-- 多選button 輸出各種不同表單 -->
      <div class="btn-group  dropup">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          輸出PDF表單
        </button>
        <div class="dropdown-menu">
          <%= link_to "巡護紀錄表", ocean_inspect_path(params[:id],format: "pdf"), target: '_blank',class: "dropdown-item" %>
          <%= link_to '航行日誌', logbooks_path(params[:id], format: 'pdf'), target: '_blank', class: "dropdown-item" %>
        </div>
      </div>

    </div>
  </div>
  <p></p>
