<p id="notice"><%= notice %></p>

<p>
  <strong>S time:</strong>
  <%= @ocean_inspect.s_time %>
</p>

<p>
  <strong>E time:</strong>
  <%= @ocean_inspect.e_time %>
</p>

<p>
  <strong>Boat:</strong>
  <%= @ocean_inspect.boat_id %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @ocean_inspect.weather %>
</p>

<p>
  <strong>Wave:</strong>
  <%= @ocean_inspect.wave %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @ocean_inspect.leader %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ocean_inspect.location %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @ocean_inspect.crew %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @ocean_inspect.gas %>
</p>

<p>
  <strong>Oil:</strong>
  <%= @ocean_inspect.oil %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @ocean_inspect.distance %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @ocean_inspect.captain %>
</p>

<p>
  <strong>Diary:</strong>
  <%= @ocean_inspect.diary %>
</p>

<p>
  <strong>Work items:</strong>
  <%= @ocean_inspect.work_items %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ocean_inspect.note %>
</p>

<p>
  <strong>Year:</strong>
  <%= @ocean_inspect.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @ocean_inspect.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @ocean_inspect.day %>
</p>

<p>
  <strong>Date:</strong>
  <%= @ocean_inspect.date %>
</p>

<%= link_to 'Edit', edit_ocean_inspect_path(@ocean_inspect) %> |
<%= link_to 'Back', ocean_inspects_path %>
