<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>東吉管理站-數位化業務 Version 3.0.1</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tinymce_assets %>

  </head>

  <body>
  <%= render "/layouts/navbar" %>
  <div class="container">
    <div class="row">

    <!-- alert -->
    <% if notice != nil %>
      <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert != nil %>
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
      </div>
    <% end %>


    <!-- content area -->
    <%= yield %>

    </div>
  </div>
  <%= render "/layouts/footer" %>
  </body>
</html>
